
{% extends 'rango/base.html' %}

{% load staticfiles %}

{% block title %}{{ category_name }}{% endblock %}

{% block body_block %}
        {%if category %} <!-- If category is defined we proceed to check pages -->
        <h1>{{ category_name }}</h1>
            {% if pages %}
            <ul>
                {% for page in pages %}
                <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                {% endfor %}                
            </ul><br/>
		{% if user.is_authenticated %}
            <strong>Would you like to add more </strong>
		<a href="{% url 'add_page' category.slug %}">pages</a>
            <strong>?</strong>
		{% else %}
		{% endif %}
            {% else %}
                <strong>No pages currently in category. Would you like to </strong>
                <a href="/rango/category/{{category.slug}}/add_page/">make one</a>
                <strong>?</strong>
            {% endif %}
        {% else %} <!-- If category is not defind an error message tells us so! -->
            The specified category {{ category_name }} does not exist!
        {% endif %}
{% endblock %}
